/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

input.ng-touched.ng-invalid {
    border-color: #dc3545;
}

div.validation-error{
    width:100%;
    font-size: 80%;
    color: #dc3545;
}